<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" href="/assets/img/dominio.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/StyleInicio.css?v=1.0">
</head>
<div id="header-placeholder"></div>

    <script>
        fetch('/views/layout/Header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header-placeholder').innerHTML = data;
            });
    </script>
<body>
    <div class="container">
        <div class="form-background">
            <h1>INICIAR SESIÓN</h1><br><br>
            <form id="login">
                <input type="email" name="correo" id="email" placeholder="Correo electrónico">
                <br>
                <input type="password" name="contraseña" id="clave" placeholder="Contraseña">
                <br><br>
                <input type="submit" value="Iniciar Sesión">
                <div class="login">
                    <p>¿Eres nuevo en Noticed?&nbsp;&nbsp;&nbsp;<a href="/views/Registro.html">Registrarse</a></p><br>
                </div>
            </form>
            <script> 
                document.getElementById('login').addEventListener('submit', async (e) => {
                    e.preventDefault();
        
                    const email = document.getElementById('email').value;
                    const password = document.getElementById('clave').value;
        
                    //Validaciones
                    if(password == "" || email == ""){
                        alert ('Correo o contraseña vacia, debe diligenciar todos los campos');
                        return; // Salir de la función
                    }
        
                    let correoRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    if (!correoRegex.test(email)) {
                        alert('El correo electrónico no es válido, debe contener "@" y un dominio válido como "gmail.com"');
                        return; // Salir de la función
                    }
        
                    //Envío de datos
                    try {
                        const response = await fetch('/login', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({ email, password }),
                        });
        
                        if (response.ok) {
                            const data = await response.json();
                            alert('Inicio de sesión exitoso');
                            console.log('Usuario:', data.user);
                        } else {
                            alert('Email o contraseña incorrectos');
                        }
                    } catch (error) {
                        alert('Error en el Inicio');
                        console.error('Error:', error);
                    }
                });
        
                //Visibilidad de contraseña
                document.getElementById('toggle-password').addEventListener('click', () => {
                    const passwordInput = document.getElementById('clave');
                    const isPasswordVisible = passwordInput.type === 'text';
        
                    passwordInput.type = isPasswordVisible ? 'password' : 'text';
                    passwordToggle.innerHTML = isPasswordVisible ? "<i class='bx bx-show'></i>" : "<i class='bx bx-hide'></i>";
                });
            </script>
        </div>
    </div>
</body>
<div id="footer-placeholder"></div>

    <script>
        fetch('/views/layout/Footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-placeholder').innerHTML = data;
            });
    </script>
</html>