<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="icon" type="image/png" href="/assets/img/dominio.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/StyleRegistro.css">
</head>
<div id="header-placeholder"></div>

    <script>
        fetch('/views/layout/Header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header-placeholder').innerHTML = data;
            });
    </script>
<body>
    <div class="container">
        <div class="form-background">
            <h1>REGISTRARSE</h1>
            <form id="register">
                <input type="email" name="Email" id="email" placeholder="Correo electrónico">
                <br>
                <input type="password" name="contrasena" id="clave" placeholder="Contraseña">
                <h2>Mínimo 12 caracteres</h2>
                <h2>Debe contener una mayúscula</h2>
                <h2>Debe contener un Número</h2>
                <input type="password" name="confirm" id="confirmClave" placeholder="Confirmar contraseña">
                <br><br>
                <input type="submit" value="Registrarse">
                <div class="login">
                    <p>¿Ya tienes una cuenta?&nbsp;&nbsp;&nbsp;<a href="/views/Inicio.html">Iniciar sesión</a></p><br>
                </div>
            </form>
            <script>
                document.getElementById('register').addEventListener('submit', async (e) => {
                    e.preventDefault();

                    const email = document.getElementById('email').value;
                    const password = document.getElementById('clave').value;
                    const confirmPassword = document.getElementById('confirmClave').value;

                    //Validaciones
                    if(password == "" || email == "" || confirmPassword == ""){
                        alert ('Correo o contraseña vacia, debe diligenciar todos los campos');
                        return; // Salir de la función
                    }

                    let correoRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                    if (!correoRegex.test(email)) {
                        alert('El correo electrónico no es válido, debe contener "@" y un dominio válido como "gmail.com"');
                        return; // Salir de la función
                    }
                    
                    if (password !== confirmPassword) {
                        alert('Las contraseñas no coinciden');
                        return; // Salir de la función
                    }

                    if(password.length < 12){
                        alert('La contraseña debe tener como mínimo 12 caracteres');
                        return; // Salir de la función
                    }

                    let contieneMayuscula = password.split('').some(caracter => caracter >= 'A' && caracter <= 'Z');
                    let contieneNumero = /\d/.test(password); // \d es una expresión regular que busca dígitos

                    if (contieneMayuscula && contieneNumero) {
                        // La contraseña es válida
                    } else {
                        if (!contieneMayuscula) {
                            alert('La contraseña debe contener por lo menos una mayúscula');
                        }
                        if (!contieneNumero) {
                            alert('La contraseña debe contener por lo menos un número');
                        }
                    }

                    //Envío de datos
                    if(password != "" && email != "" && confirmPassword != "" && correoRegex.test(email) && password === confirmPassword && password.length >= 12 && contieneMayuscula && contieneNumero){
                        try {
                            const response = await fetch('/register', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ email, password }),
                            });

                            if (response.ok) {
                                alert('Usuario registrado con éxito');
                            } else {
                                const errorData = await response.json();
                                alert(`Error en el registro: ${errorData.error}`);
                            }
                        } catch (error) {
                            alert('Error en el registro');
                            console.error('Error:', error);
                            
                        }
                    }
                });

                //Visibilidad de contraseña
                document.getElementById('toggle-password').addEventListener('click', () => {
                    const passwordInput = document.getElementById('clave');
                    const confirmPasswordInput = document.getElementById('confirmClave');
                    const isPasswordVisible = passwordInput.type === 'text';
        
                    passwordInput.type = isPasswordVisible ? 'password' : 'text';
                    confirmPasswordInput.type = isPasswordVisible ? 'password' : 'text';
                    passwordToggle.innerHTML = isPasswordVisible ? "<i class='bx bx-show'></i>" : "<i class='bx bx-hide'></i>";
                });
            </script>
        </div>
    </div>
</body>
<div id="footer-placeholder"></div>

    <script>
        fetch('/views/layout/Footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-placeholder').innerHTML = data;
            });
    </script>
</html>