<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="icon" type="image/png" href="/assets/img/dominio.png">
    <link rel="stylesheet" type="text/css" href="/assets/css/StyleRegistro.css">
</head>
<body>
    <div id="header-placeholder"></div>
    <script type="module" src="/backend/scripts/Header.js"></script>
    <div class="container">
        <div class="form-background">
            <h1>REGISTRARSE</h1>
            <form id="register">
                <input type="email" name="Email" id="email" placeholder="Correo electrónico">
                <br>
                <input type="password" name="contrasena" id="clave" placeholder="Contraseña">
                <h2>Mínimo 12 caracteres</h2>
                <h2>Debe contener una mayúscula</h2>
                <h2>Debe contener un Número</h2>
                <input type="password" name="confirm" id="confirmClave" placeholder="Confirmar contraseña">
                <br><br>
                <input type="submit" value="Registrarse">
                <div class="login">
                    <p>¿Ya tienes una cuenta?&nbsp;&nbsp;&nbsp;<a href="/views/Inicio.html">Iniciar sesión</a></p><br>
                </div>
            </form>
            <script type="module" src="/backend/scripts/Registro.js"></script>
        </div>
    </div>
    <div id="footer-placeholder"></div>
    <script type="module" src="/backend/scripts/Footer.js"></script>
</body>
</html>