<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="icon" type="image/png" href="/assets/img/dominioo.png">
    <link rel="stylesheet" href="/assets/css/StyleTienda.css?v=1.0">  
</head>
<div id="header-placeholder"></div>

    <script>
        fetch('/views/layout/Header.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('header-placeholder').innerHTML = data;
            });
    </script>
<body>
    <section class="productos">
        <div class="product">
            <a href="#"><img src="/assets/img/option1.png" alt=""></a>
            <a href="#"><img src="/assets/img/option2.png" alt=""></a> 
            <a href="#"><img src="/assets/img/option3.png" alt=""></a>  
        </div>
    </section>
    <div class="container">
        <div class="image-row">
            <div class="image-container">
                <div class="image1">
                    <img src="/assets/img/slider1.png" alt="">
                    <div class="image2">
                        <img src="/assets/img/slider2.png" alt="">
                        <div class="hover-overlay">
                            <div class="overlay-content">
                                <p>Buso Noiced verde</p>
                                <p>Oversize con capucha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image3">
                    <img src="/assets/img/slider1.png" alt="">
                    <div class="image4">
                        <img src="/assets/img/slider2.png" alt="">
                        <div class="hover-overlay">
                            <div class="overlay-content">
                                <p>Buso Noiced verde</p>
                                <p>Oversize con capucha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image5">
                    <img src="/assets/img/slider1.png" alt="">
                    <div class="image6">
                        <img src="/assets/img/slider2.png" alt="">
                        <div class="hover-overlay">
                            <div class="overlay-content">
                                <p>Buso Noiced verde</p>
                                <p>Oversize con capucha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-row2">
            <div class="image-container">
                <div class="image7">
                    <img src="/assets/img/slider1.png" alt="">
                    <div class="image8">
                        <img src="/assets/img/slider2.png" alt="">
                        <div class="hover-overlay">
                            <div class="overlay-content">
                                <p>Buso Noiced verde</p>
                                <p>Oversize con capucha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image9">
                    <img src="/assets/img/slider1.png" alt="">
                    <div class="image10">
                        <img src="/assets/img/slider2.png" alt="">
                        <div class="hover-overlay">
                            <div class="overlay-content">
                                <p>Buso Noiced verde</p>
                                <p>Oversize con capucha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image11">
                    <img src="/assets/img/slider1.png" alt="">
                    <div class="image12">
                        <img src="/assets/img/slider2.png" alt="">
                        <div class="hover-overlay">
                            <div class="overlay-content">
                                <p>Buso Noiced verde</p>
                                <p>Oversize con capucha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-row3">
            <div class="image-container">
                <div class="image13">
                    <img src="/assets/img/slider1.png" alt="">
                    <div class="image14">
                        <img src="/assets/img/slider2.png" alt="">
                        <div class="hover-overlay">
                            <div class="overlay-content">
                                <p>Buso Noiced verde</p>
                                <p>Oversize con capucha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image15">
                    <img src="/assets/img/slider1.png" alt="">
                    <div class="image16">
                        <img src="/assets/img/slider2.png" alt="">
                        <div class="hover-overlay">
                            <div class="overlay-content">
                                <p>Buso Noiced verde</p>
                                <p>Oversize con capucha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image17">
                    <img src="/assets/img/slider1.png" alt="">
                    <div class="image18">
                        <img src="/assets/img/slider2.png" alt="">
                        <div class="hover-overlay">
                            <div class="overlay-content">
                                <p>Buso Noiced verde</p>
                                <p>Oversize con capucha</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<div id="footer-placeholder"></div>

    <script>
        fetch('/views/layout/Footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-placeholder').innerHTML = data;
            });
    </script>
</html>