<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="icon" type="image/png" href="/NOTICED/assets/img/dominioo.png">
    <link rel="stylesheet" href="/NOTICED/assets/css/StyleTienda.css?v=1.0">  
</head>
<header>
    <div class="menu-container">
        <a href="/NOTICED/Index.html" class="logo"><img src="/NOTICED/assets/img/logo.png"></a>
        <nav class="navbar">
            <ul>
                <li><a href="/NOTICED/Index.html"><img src="/NOTICED/assets/img/home.png" alt=""></a></li>
                <li><a href="/NOTICED/views/Inicio.html"><img src="/NOTICED/assets/img/acceso.svg" alt=""></a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    <section class="productos">
        <div class="product">
            <a href="#"><img src="/NOTICED/assets/img/option1.png" alt=""></a>
            <a href="#"><img src="/NOTICED/assets/img/option2.png" alt=""></a> 
            <a href="#"><img src="/NOTICED/assets/img/option3.png" alt=""></a>  
        </div>
        <br><br><br><br>
    </section>
    <div class="body-content container">
        <div class="image1">
            <img class="imagen1" src="/NOTICED/assets/img/slider1.png" alt="">
        </div>
        <div class="image2">
            <img class="imagen2" src="/NOTICED/assets/img/slider2.png" alt="">
        </div>
        <div class="image3">
            <img class="imagen3" src="/NOTICED/assets/img/slider3.png" alt="">
        </div>
        <div class="image1">
            <img class="imagen1" src="/NOTICED/assets/img/slider1.png" alt="">
        </div>
        <div class="image2">
            <img class="imagen2" src="/NOTICED/assets/img/slider2.png" alt="">
        </div>
        <div class="image3">
            <img class="imagen3" src="/NOTICED/assets/img/slider3.png" alt="">
        </div>
        <div class="image1">
            <img class="imagen1" src="/NOTICED/assets/img/slider1.png" alt="">
        </div>
        <div class="image2">
            <img class="imagen2" src="/NOTICED/assets/img/slider2.png" alt="">
        </div>
        <div class="image3">
            <img class="imagen3" src="/NOTICED/assets/img/slider3.png" alt="">
        </div>
        <div class="image1">
            <img class="imagen1" src="/NOTICED/assets/img/slider1.png" alt="">
        </div>
        <div class="image2">
            <img class="imagen2" src="/NOTICED/assets/img/slider2.png" alt="">
        </div>
        <div class="image3">
            <img class="imagen3" src="/NOTICED/assets/img/slider3.png" alt="">
        </div>
        <br><br><br><br>
    </div>
    </section>
</body>
<div id="footer-placeholder"></div>

    <script>
        fetch('/NOTICED/views/layout/Footer.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('footer-placeholder').innerHTML = data;
            });
    </script>
</html>