/* Estilos del cuerpo*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 3px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

/*Estilos del contenido principal*/
.body-content {
    padding: 0px 0;
    text-align: center;
    padding: 50px;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*Fuente del texto*/
    font-size: 18px; /*Tamaño de la fuente*/
    color: #555555; /*Color del texto*/
    margin-bottom: 0px; /*Espacio inferior entre elementos*/
    text-transform: uppercase;
    text-align: center;
}

.body-content .enlace1,
.body-content .enlace2,
.body-content .enlace3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*Fuente del texto*/
    font-size: 16px; /*Tamaño de la fuente*/
    top: 27.5%;
    position: absolute;
    color: #555555; /*Color del texto*/
    margin-bottom: 0px; /*Espacio inferior entre elementos*/
    text-transform: uppercase;
}

.body-content .enlace1:hover,
.body-content .enlace2:hover,
.body-content .enlace3:hover {
    color: #000000;
    font-size: 22px;
}

.body-content .enlace1 {
    left: 200px;
}

.body-content .enlace2 {
    left: 622px;
}

.body-content .enlace3 {
    left: 1045px;
}

.body-content a{
    text-decoration: none;
}

/*Estilos de la sección del fondo*/
.fondos .fondo img{
    position: relative;
    left: -25px;
    width: 100%;
}
/*Estilos de la sección nosotros*/
.nosotros {
    background-color: #f0f0f0;
    text-align: center;
    position: relative;
    left: 25px;
}

.nosotros h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*Fuente del texto*/
    text-transform: uppercase;
    font-size: 33px;
}

.nosotros p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /*Fuente del texto*/
    font-size: 22px;
}

.nosotros span {
    font-weight: bold;
    color: #007BFF;
}

.nosotros .info .enlace {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nosotros .info .enlace:hover {
    background-color: #0056b3;
}

/*Estilos responsivos*/
@media (max-width: 768px) {
    header .menu {
        flex-direction: column;
    }

    header .menu-icono {
        display: block;
    }

    header nav ul {
        flex-direction: column;
        display: none;
    }

    header nav ul li {
        margin: 10px 0;
    }

    header input[type="checkbox"]:checked ~ nav ul {
        display: flex;
    }

    .body-content .swiper {
        height: 300px;
    }

    .product {
        flex: 1 1 100%;
    }
}