<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/assets/css/StyleHeader.css">
</head>
<body>
<header>
    <div class="menu-container">
        <a href="/Index.html" class="logo"><img src="/assets/img/logo.png"></a>
        <input type="checkbox" id="menu" />
        <label for="menu">
            <img class="menu-icono" src="/assets/img/menu.png" alt="">
        </label>
        <nav class="navbar">
            <ul>
                <li><a href="/Index.html"><img src="/assets/img/home.png" alt=""></a></li>
                <li><a href="/views/Inicio.html"><img src="/assets/img/acceso.svg" alt=""></a></li>
                <li><a href="/views/Tienda.html">Tienda</a></li>
                <li><a href="/views/Nosotros.html">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>
</body> 
</html>